<!DOCTYPE html>
<html>
<head><title>습득물 등록</title></head>
<body>
  <h1>습득물 등록</h1>
  <form method="post" enctype="multipart/form-data">
    물품 이름: <input type="text" name="item_name"><br>
    습득 시간: <input type="text" name="acquisition_time"><br>
    발견 위치: <input type="text" name="item_location"><br>
    습득자 이름: <input type="text" name="found_by_name"><br>
    습득자 연락처: <input type="text" name="found_by_contact"><br>
    사진: <input type="file" name="item_photo"><br>
    <input type="submit" value="등록">
  </form>
</body>
</html>
